{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{ student.name }}</h2>

<h3>Your Performance</h3>
<canvas id="marksChart" width="400" height="200"></canvas>

<h3 class="mt-4">Attendance</h3>
<canvas id="attendanceChart" width="400" height="200"></canvas>

<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script>
    renderStudentCharts({{ student.unit_test }}, {{ student.end_sem }}, {{ student.lab_attendance }}, {{ student.overall_attendance }});
</script>
{% endblock %}
